body {
  color: #fff;
  width: 100vw;
  height: 100%;
  margin: 0;
  font-family: PayPal Sans Big Light, Helvetica Neue,Arial,sans-serif;
  font-size: 14px;
}

.nav-main {
  display: flex;
  background: linear-gradient(#032c94, #009cde);
  top: 0;
  width: 100vw;
  height: 73px;
  color: rgb(199, 168, 41);
}

.nav-logo {
  width: 15%;
}

.nav-section {
  width: 70%;
}

.nav-buttons {
  width: 15%;
}

.nav-logo img {
  width: 50px;
  height: 50px;
  padding-top: 12px;
  padding-left: 50px;
  border: 1px solid transparent;
  &:active {
    border: 1px solid rgba(255, 255, 255, .6);
    border-radius: 5px;
    outline: none;
    box-shadow: 0 0 2px #fff;
  }
}

.nav-list {
  display: flex;
  align-items: center;
  // justify-content: space-between;

  width: 80%;
  margin: auto;
}



// .nav-link-header {
//   color: #fff;
//   position: relative;
//   float: left;
//   top: 12px;
//   left: 175px;
//   padding: 17px 17px;
//   margin: 5px;
//   font-weight: bold;
//   font-size: 14px;
//   text-decoration: none;
//   text-transform: uppercase;
//   border-bottom: 3px solid transparent;
//   z-index: 2;
//   &:hover {
//     border-bottom: 1px solid #fff;
//   }
// }

// .nav-buttons {
//   display: inline-block;
  // position: relative;
  // top: -30px;
  // left: 150px;
  // width: 200px;
  // margin: auto;
  // padding: 30px 0px;
// }

.nav-button {

  // vertical-align: middle;
  border: 1px solid #fff;
  border-radius: 25px;
  padding: 10px 19px;
  font-weight: bold;
  font-size: 1;
  text-decoration: none;
  &:active {
    text-decoration: underline;
  }
  &:focus{
    outline: 0;
  }
}

// #login {
//   color: #fff;
//   margin-right: 5px;
//   background-color: transparent;
// }

// #signup {
//   background-color: #fff;
// }

// .nav-bar {
//   position: absolute;
//   top: 64px;
//   left: 0px;
//   border-bottom: 1px solid rgba(255, 255, 255, .5);
//   width: 1230px;
//   margin: 0;
// }

